<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    body{
        margin: 50px;
        padding :30px;
    }
    h1{
        text-transform: capitalize;
        font-size: 3rem;
    }
    h5{
        text-transform: capitalize;
    }
    div{
        border-radius: 1px;
        border-style:solid;
        
    }
</style>
<body>
     <div class="card text-white bg-success mb-3" style="max-width: 70rem;">
        <div class="card-header"><h1>software development team</h1></div>
        <div class="card-body">
          <h1 class="card-title">Manager</h1>
          <p class="card-text">
              <div class = "row">
                    <div class = "col-4"><h2>Title:</h2></div>
                    <div class= "col-8">  Manager   </div>
              </div>

              <div class = "row">
                <div class = "col-4"><h2>ID:</h2></div>
                <div class= "col-8">  101   </div>
          </div>

          <div class = "row">
            <div class = "col-4"><h2>Name:</h2></div>
            <div class= "col-8">  Bipanjeet   </div>
      </div>

      <div class = "row">
        <div class = "col-4"><h2>Email:</h2></div>
        <div class= "col-8">   bipan82.ca@gmail.com  </div>
  </div>


  <div class = "row">
    <div class = "col-4"><h2>GitHub :</h2></div>
    <div class= "col-8">  bipan82gill   </div>
</div>


<div class = "row">
    <div class = "col-4"><h2>School:</h2></div>
    <div class= "col-8">  University of Toronto   </div>
</div>


<div class = "row">
    <div class = "col-4"><h2>Role:</h2></div>
    <div class= "col-8">   .................  </div>
</div>
              
          </p>
        </div>
      </div> 
      
      
</body>
</html>